#carousel {
    // padding: 0 20%;
    margin: 10px auto;
    position: relative;
    img {
        width: 55%;
        margin: 0 20px;
        height: 100%;
    }
    h1 {
        top: 50%;
        right: 20px;
        font-size: 6vw;
        // font-weight: bold;
        position: absolute;
        font-family: HacenTunisia;
        color: #b079ee;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
    }
}