#toolbar {
  #Title {
    font-weight: bold;
    font-size: 3vw;
    color: white;
    text-decoration: none;
  }
  mat-select {
    width: 70px;
    margin: 0 20px;
  }
  .divider {
    width: 100%;
  }
  #login {
    // background-color: red;
    font-weight: bold;
    & > * {
      display: inline-block;
    }

    .space {
      width: 20px;
    }
  }
}
