<app-carousel></app-carousel>
<!-- <app-show-element imageURI='assets/mobile_development_illustration.jpg'
    slogo='تعلم تطزير التطبقات بواسطة Flutter'>
</app-show-element> -->

<app-show-element imageURI='assets/mobile_image.png'
    slogo='تعلم تطوير التطبيقات بواسطة Flutter'
    [Dir]='true'
    [TopMarggin]='50'
    [ButtomMarggin]='0'
    subslogo='سيتكم سيبتم يبكمن بكتمسنيت كسيبت'>
</app-show-element>

<app-show-element imageURI='assets/web_dev0.png'
    slogo='تعلم تطوير التطبيقات بواسطة Flutter'
    [Dir]='false'
    [TopMarggin]='0'
    [ButtomMarggin]='0'
    subslogo='سيتكم سيبتم يبكمن بكتمسنيت كسيبت'>
</app-show-element>

<app-show-element imageURI='assets/nodejs.png'
    slogo='تعلم تطوير التطبيقات بواسطة Flutter'
    [Dir]='true'
    [TopMarggin]='0'
    [ButtomMarggin]='0'
    subslogo='سيتكم سيبتم يبكمن بكتمسنيت كسيبت'>
</app-show-element>